<div class="account-page-view row d-flex justify-content-center">
  <div class="col-xl-12">
    <div class="account-table account-info-table">
      <div class="table-head">
        <span>My Account Information</span>
      </div>
      <div class="table-body">
        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Email</div>
          <div class="column-cell-value">{{ myAccountInfo.email }}</div>
        </div>

        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Name</div>
          <div class="column-cell-value">{{ myAccountInfo.name }}</div>
        </div>

        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Mobile</div>
          <div class="column-cell-value">
            <input type="text" value="{{myAccountInfo.phone}}">
          </div>
        </div>

        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Account Type</div>
          <div class="column-cell-value">{{ myAccountInfo.accountType }}</div>
        </div>

        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Logo</div>
          <div class="column-cell-value">
            <img src="/assets/background-images/user-logo.png">
          </div>
        </div>

        <div class="table-column-cell d-flex">
          <div class="column-cell-name">Password</div>
          <div class="column-cell-value">
            <button class="btn btn-outline-primary btn-sm">Change</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="account-table colleagues-info-table">
      <div class="table-head">
        <span>My Colleagues</span>
        <span>Contact information can be updated by calling us</span>
      </div>
      <div class="table-body">
        <div class="tbody-background">
          <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6 ,7, 8, 9, 10]">
            <div class="odd-column"></div>
            <div class="even-column"></div>
          </ng-container>
        </div>
        <div class="tbody-content d-flex flex-column" >
          <div class="tbody-content-cell d-flex position-relative align-items-center" *ngFor="let item of colleagueInfo">
            <div class="colleague-info-name">{{item.name}} - {{item.email}}</div>
            <div class="colleague-info-contact d-flex">{{item.contact}}
              <div>
                <i class="icon-info">
                  <span class="tooltip-text">{{ item.info }}</span>
                </i>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="account-table company-info-table">
      <div class="table-head">
        <span>Company Information</span>
      </div>
      <div class="table-body d-flex flex-column justify-content-center">
        <div>{{myCompanyInfo.companyName}}</div>
        <div>{{myCompanyInfo.address1}}</div>
        <div>{{myCompanyInfo.address2}}</div>
        <div>{{myCompanyInfo.address3}}</div>
        <div>{{myCompanyInfo.address4}}</div>
      </div>
    </div>
  </div>
</div>
