.account-page-view {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  position: relative;

  .account-table {
    background: white;
    box-shadow: 0 0 1px 0 #2982FE;
    margin-bottom: 30px !important;
    border-radius: 3px;
    overflow: hidden;

    .table-head {
      background: #2982FE;
      height: 50px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .table-body {
      min-height: 40vh;
      max-height: 60vh;
      padding-top: 20px;
      font-size: 13px;
      height: fit-content;
    }
  }

  /*MyAccount Info Table CSS*/
  .account-info-table {
    .table-body {
      padding-bottom: 10px;

      .table-column-cell {
        font-size: 12px;
        margin: 5px 0;

        .column-cell-name {
          font-weight: bold;
          flex: 1;
          text-align: right;
          padding: 5px 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .column-cell-value {
          flex: 3;
          padding: 5px 10px;
          position: relative;

          input {
            padding: 2px 5px;
            border: 1px solid #0077cc;
            border-radius: 2px;
            transform: translateX(-5px);
            width: 170px;
          }

          img {
            border: 1px solid #0077cc;
            border-radius: 5px;
            width: 170px;
            transform: translateX(-5px);
          }

          button {
            box-shadow: 0 0 10px -3px #0077cc;
            border-radius: 0 !important;
            font-size: 12px;
            color: black;
          }
        }
      }
    }
  }

  /*Colleagues Info Table CSS*/
  .colleagues-info-table {
    overflow: hidden;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .table-head {
      position: sticky;
      top: 0;
      z-index: 9999;

      span:nth-child(2) {
        font-size: 10px;
      }
    }

    .table-body {
      padding: 0;

      .tbody-background {
        position: absolute;
        width: 100%;

        div {
          width: 100%;
          height: 45px;
        }

        .even-column {
          background: #ecf1f9;
        }
      }

      .tbody-content {
        position: relative;
        padding: 0 10px 0 20px;

        .tbody-content-cell {
          font-weight: bold;
          font-size: 11px;
          height: 45px;

          .colleague-info-name {
            flex: 3;
          }

          .colleague-info-contact {
            flex: 1.1;
            position: relative;

            div {
              position: absolute;
              right: 0;

              i {
                position: relative;
                right: 5px;
                display: inline-block;
                background: #0077cc;
                border-radius: 50%;
                font-size: 16px;
                color: white;

                .tooltip-text {
                  visibility: hidden;
                  width: 100px;
                  background-color: #0077cc;
                  color: #fff;
                  text-align: center;
                  border-radius: 6px;
                  padding: 5px 0;
                  font-size: 11px;

                  /* Position the tooltip */
                  position: absolute;
                  left: -100px;
                  top: 15px;
                  z-index: 1;
                }
              }
            }
          }

          i:hover {
            .tooltip-text {
              visibility: visible !important;
            }
          }
        }
      }
    }
  }

  /*Company Info Table CSS*/
  .company-info-table {
    font-size: 14px;
    font-weight: bold;

    .table-body {
      padding: 0 50px 30px;

      div {
        position: relative;
        margin: 10px 0;
        padding: 5px 0;
        border: 1px solid #0077cc;
        border-radius: 2px;
        width: 100%;
        text-align: center;
      }

      div:first-child {
        border: none !important;
        margin-top: 0 !important;
      }
    }
  }
}

@media (min-width: 1200px) {
  .account-page-view {
    .col-xl-12 {
      max-width: 30%;
    }

    .col-xl-12:nth-child(2) {
      max-width: 40% !important;
    }

    .account-info-table {
      margin-left: 30px;
    }

    .company-info-table {
      margin-right: 30px;
    }

    .colleagues-info-table {
      margin: 0 30px;
    }
  }
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .account-page-view {
    width: 98% !important;

    .col-xl-12 {
      min-width: 49% !important;
      max-width: 49% !important;

      .account-table {
        margin-left: 40px !important;
      }
    }

    .col-xl-12:nth-child(2) {
      min-width: 98% !important;
      max-width: 98% !important;
      order: 3;

      .account-table {
        margin-right: 40px !important;
      }
    }

    .col-xl-12:last-child {
      order: 2;

      .account-table {
        margin-left: 0 !important;
        margin-right: 40px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .account-page-view {
    padding-top: 75px;

    .account-table {
      margin: 0 50px;
    }
  }
}
