<h1 class="mb-5">Login</h1>

<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email
      <span class="required-value">*</span>
    </label>
    <input id="email" type="email" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label for="password">Password
      <span class="required-value">*</span>
    </label>
    <input id="password" type="password" class="form-control" formControlName="password">
  </div>



  <div class="d-flex flex-column mt-5">
    <button class="btn btn-primary mb-3 badge-pill btn-has-spinner" (click)="login()" [disabled]="isLoading || loginForm.invalid">
      <app-spinner *ngIf="isLoading"></app-spinner>
      Login
    </button>
    <button type="button" class="btn btn-success mb-3 badge-pill" routerLink="/register">Register</button>
    <button type="button" class="btn btn-link badge-pill" routerLink="/forgot-password">Forgot Password ?</button>
  </div>
</form>
