.view-detail-home-page-container {
  width: 90%;
  padding: 10px;
  background: #f6f9fc;
  box-shadow: 0 0 1px 0 #2982FE;
  margin: 20px auto 0;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;

  .detail-unit-box, .address-info-unit {
    background: white;
  }

  .unit-box-container {
    margin: 50px 0;

    .detail-unit-box {
      margin: 0 20px;
      padding: 20px 0;
      text-align: center;
      box-shadow: 0 0 7px 3px #e8ebee;
      border-radius: 5px;

      span {
        margin: 10px 0;

        &:first-child {
          font-size: 13px;
          font-weight: bold;
          color: #2982FE;
        }

        &:last-child {
          font-weight: 500;
          font-size: 12px;
        }
      }
    }

    .unresolved-highlight, .unresolved-amendment {
      .detail-unit-data {
        color: orangered;
      }
    }

    .reviewed-doc {
      .detail-unit-data {
        color: limegreen;
      }
    }
  }

  .address-info-container {
    margin: 50px;

    .flex-grow-1 {
      padding-top: 30px;

      .address-info-unit {
        margin: 0 auto;
        box-shadow: 0 0 7px 3px #e8ebee;
        border-radius: 5px;
        text-align: center;

        span {
          font-size: 12px;
          font-weight: 500;
          margin: 10px 0;

          &:first-child {
            font-size: 13px;
            font-weight: bold;
            color: #4d7cfe;
          }
        }
      }

      &:first-child, &:last-child {
        .address-info-unit {
          max-width: 200px;
          height: 150px;
        }
      }

      .agent-contact {
        max-width: 300px;
        position: relative;

        i {
          color: white;
          position: absolute;
          background: green;
          border-radius: 50%;
          right: 30px;
          top: 30px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .view-detail-home-page-container {
    display: flex;
    padding-left: 50px !important;
    margin-bottom: 20px;

    .unit-box-container {
      flex: 1;
      flex-direction: column;
      margin-bottom: 0 !important;
    }

    .address-info-container {
      flex: 2;
      flex-direction: column;
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 600px) {
  .view-detail-home-page-container {
    flex-direction: column;
    padding: 10px !important;

    .unit-box-container {
      flex: none;
      order: 2;
    }

    .address-info-container {
      flex: none;
      order: 1;
      box-shadow: 0 0 7px 3px darkgray;
      margin: 0 !important;

      .flex-grow-1 {
        padding: 0 !important;
        background: #ffe0e040;
      }

      .address-info-unit {
        background: none;
        box-shadow: none !important;
        margin: 10px auto !important;

        span {
          margin: 5px 0 !important;
        }
      }
    }
  }
}
