.inline-edit {
  position: relative;
  padding: 0 25px;
  a.edit {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
  }
  &:hover {
    a.edit { display: block; }
  }

  .edit-btn {
    position: absolute;
    min-width: 80px;
    right: 0;
    top: -10px;
    a { cursor: pointer; }
    i.icon-check { color: green; }
    i.icon-close { color: red; }
  }

  i:hover { font-weight: bold; }
}

