<h1 class="mb-5">Register</h1>
<form class="mt-5" [formGroup]="registerForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone</label>
    <input id="phoneNumber" type="phoneNumber" class="form-control" formControlName="phoneNumber">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control" formControlName="password">
  </div>
  <div class="form-group">
    <label for="conform_password">Confirm Password</label>
    <input id="conform_password" type="password" class="form-control" formControlName="conform_password">
  </div>

  <div class="d-flex flex-column mt-5">
    <button class="btn btn-success badge-pill mb-3 btn-has-spinner" (click)="signUp()" [disabled]="isLoading || registerForm.invalid">
      <app-spinner *ngIf="isLoading"></app-spinner>
      Sign Up
    </button>
    <button class="btn btn-primary badge-pill" routerLink="/login">Back to Login</button>
  </div>
</form>
