.amendments-view-container {
  width: 100%;
  padding: 30px 50px;

  .amendments-table {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #2982FE;

    &::-webkit-scrollbar {
      display: none;
    }

    .table-head {
      border-radius: 3px;
      height: 50px;
      background: #2982FE;
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 0 110px 0 30px;

      span {
        color: white;
        font-weight: bold;
        font-family: 'Sarabun', sans-serif;
        margin-right: 20px;
      }
    }

    .table-body {
      .tbody-background {
        position: absolute;
        width: 100%;

        div {
          width: 100%;
          height: 60px;
        }

        .even-column {
          background: #ecf1f9;
        }
      }

      .tbody-content {
        position: relative;
        padding: 0 110px 0 30px;

        .tbody-content-row {
          height: 60px;
          position: relative;

          .tbody-content-cell {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;

            &:first-child, &:nth-child(2) {
              flex: 1;
            }

            &:nth-child(3) {
              flex: 20;
              font-size: 12px;
              padding-left: 100px;
            }

            &:nth-child(5), &:last-child {
              flex: 2;

            }
          }

          button {
            font-size: 13px !important;
          }

          .detail-card-viewer {
            position: absolute;
            display: none;
            z-index: 1;
            height: 100px;
            width: 200px;
            background: red;
            border: 1px solid #2982FE;
            border-radius: 3px;
            right: 10%;
          }
        }

      }

      .tbody-content > button {
        font-size: 13px;
        position: absolute;
        right: 5px;
        margin: auto 0;
        top: 20%;
        padding-left: 2px !important;
        padding-right: 2px !important;
      }
    }
  }
}
