.inspection-page-container {
  .page-title {
    font-family: 'Roboto', sans-serif;

    button {
      right: 50px;
      font-size: 13px;
    }
  }

  .inspection-data-container {
    .inspection-item {
      background: #DDDDDD;
      font-family: 'Sarabun', sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      border-radius: 3px;
    }
  }
}

:host ::ng-deep .popover {
  max-width: none;
}
