<div class="inspection-page-container ml-5 mr-5">
  <div class="page-title position-relative d-flex justify-content-center align-items-center">
    <div>Inspection Bookings - <span class="font-weight-bold">{{data.applicationName}}</span></div>
    <button class="position-absolute btn btn-outline-primary" (click)="openInspectionModal()">New Inspection</button>
  </div>
  <div class="inspection-data-container d-flex flex-column mt-3">
    <div *ngFor="let inspection of inspections" class="inspection-item d-flex align-items-center pl-5 py-4">
      <span>{{inspection.date_ts | date: 'dd/MM/y'}}</span>
      <div class="flex-shrink-1 flex-grow-1 d-flex flex-column pl-2">
        <!-- Type Description -->
        <div class="pl-2">
          <b>Types : </b> {{ inspection.types | inspectionPipe }}
        </div>
        <!-- Plots Description -->
        <div class="pl-2">
          <b>Plots : </b> {{ inspection.plots | plotPipe }}
        </div>
      </div>
      <div class="flex-shrink-1 flex-grow-1 align-items-center pl-2">
        <b>Booking Status :</b>&nbsp;{{ inspection.bookStatus }} {{ inspection.bookDate | date: 'dd/MM/y h:mm:ss a' }}
      </div>
      <div class="flex-shrink-1 flex-grow-1 align-items-center pl-2">
        <b>Inspection Status :</b>&nbsp;{{ inspection.inspectionStatus }}
      </div>
      <div class="d-flex flex-shrink-1 flex-grow-1 align-items-center justify-content-end">
        <button type="button" class="btn btn-info" placement="bottom" popoverTitle="Booking information" [ngbPopover]="popContent">
          <i class="small-view-label icon-info"></i>
        </button>
        <button class="btn btn-info ml-2 mr-5" (click)="cancelRequest()">Cancel Request</button>
      </div>
    </div>
  </div>
</div>

<ng-template #popContent>
  <table>
    <tr>
      <th class="text-primary px-2">Concrete</th>
      <th class="text-primary px-2">Theme of Day</th>
      <th class="text-primary px-2">Alert before xxxxx</th>
      <th class="text-primary px-2">Booked by</th>
      <th class="text-primary px-2">Other</th>
    </tr>
    <tbody>
      <td class="px-2">No</td>
      <td class="px-2">B</td>
      <td class="px-2">C</td>
      <td class="px-2">No xxxx</td>
      <td class="px-2">No tel</td>
    </tbody>
  </table>
</ng-template>
