.homepage-table {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px 0 #2982FE;
  border-radius: 5px;
  overflow-y: auto;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .table-head {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    color: white;
    height: 55px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2982FE;
  }

  .table-body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: white;
    height: 75vh;

    .tbody-background {
      position: absolute;
      width: 100%;

      div {
        width: 100%;
        height: 50.1875px;
      }

      .even-column {
        background: #ecf1f9;
      }
    }

    .tbody-content {
      div {
        width: 100%;
        height: 50.1875px;
        background: transparent;
        position: relative;

        span {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
