<div class="modal-header">
  <h5 class="modal-title m-auto" id="modal-basic-title">New Quote - Unsubmitted</h5>
</div>
<div class="modal-body container pt-5">
  <div class="container">
    <form>
    </form>
  </div>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button type="submit" class="btn btn-outline-primary" (click)="modal.dismiss('Cancel click')">Cancel to Submit</button>
  <button type="submit" class="btn btn-outline-primary" (click)="modal.close('Submit click')">Submit New Quote</button>
</div>
