.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  height: calc(100vh - 76px);
  //background: linear-gradient(0deg, #c4d3f6, transparent);
  background: #c4d3f6;
}
//
//@media (max-width: 550px) {
//  .main-content {
//    height: calc(100vh - 49px);
//  }
//}

@media (max-width: 992px) {
  .main-content {
    height: fit-content;
  }
}
