<div class="pricingdiv">
  <ul class="theplan">
    <li class="title"><b>Plan 1</b></li>
    <li><b>Dimensions:</b> 24.8W x 47.3H</li>
    <li><b>Material:</b> Nylon w/ Breathable Glass Fiber</li>
    <li><b>Weight:</b> 55 lbs</li>
    <li><b>Max Weight:</b> 330 lbs</li>
    <li><b>Tilt Degrees:</b> 135</li>
    <li><b>Tilt Degrees:</b> 135</li>
    <li><b>Head Rest:</b> Yes</li>
  </ul>
  <ul class="theplan">
    <li class="title"><span class="icon-trophy" style="color:yellow"></span> <b>Plan 2</b></li>
    <li><b>Dimensions:</b> 24.8W x 47.3H</li>
    <li><b>Material:</b> Nylon w/ Breathable Glass Fiber</li>
    <li><b>Weight:</b> 55 lbs</li>
    <li><b>Max Weight:</b> 330 lbs</li>
    <li><b>Head Rest:</b> Yes</li>
    <li><b>Arm Rest:</b> <span class="icon-check"></span></li>
    <li><b>Lumbar Support:</b> <span class="icon-check"></span></li>
    <li><b>Warranty:</b> 30 Days Money Back</li>
  </ul>
  <ul class="theplan">
    <li class="title"><b>Plan 3</b></li>
    <li class="ethighlight"><b>Dimensions:</b> 24.8W x 47.3H</li>
    <li><b>Material:</b> Nylon w/ Breathable Glass Fiber</li>
    <li><b>Weight:</b> 55 lbs</li>
    <li><b>Max Weight:</b> 330 lbs</li>
    <li><b>Head Rest:</b> Yes</li>
    <li><b>Arm Rest:</b> <span class="icon-close"></span></li>
    <li><b>Lumbar Support:</b> <span class="icon-check"></span></li>
    <li><b>Warranty:</b> 30 Days Money Back</li>
  </ul>
</div>
