<div class="home-body">
  <button class="new-table-button btn btn-outline-primary" (click)="onClickTestBtn()">Test Button</button>
  <div class="homepage-view row d-flex justify-content-center">
    <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="homepage-table table-quotes">
        <div class="table-head">
          <span class="table-title">Quotes</span>
          <button class="new-table-button btn btn-outline-primary" (click)="openQuoteModal(null)">Request Quote</button>
        </div>
        <div class="table-body">
          <ng-container *ngFor="let item of arrQuotes; let idx = index"
            [ngTemplateOutlet]="quoteItem" [ngTemplateOutletContext]="{quote: item.fieldData, index: idx}">
          </ng-container>
          <ng-template #quoteItem let-quote="quote" let-index="index">
            <div [class.odd-column]="!!(index%2)" [class.even-column]="!(index%2)" class="d-flex align-items-center p-2">
              <span class="flex-grow-1">{{quote['Location of proposed Work Address 1']}}</span>
              <span class="quote-status">{{quote.Status}}</span>
              <button class="btn btn-outline-primary" (click)="openQuoteModal(quote)"
                [style.visibility]="quote.Status==='Pending' ? 'hidden' : 'visible'">View</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="homepage-table">
        <div class="table-head">
          <span class="table-title">Submitted Applications</span>
          <button class="new-table-button btn btn-outline-primary" (click)="openApplicationModal()">Submit</button>
        </div>
        <div class="table-body">
          <div class="tbody-background">
            <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <div class="odd-column"></div>
              <div class="even-column"></div>
            </ng-container>
          </div>

          <div class="tbody-content" *ngFor="let item of submittedApplications">
            <div class="d-flex justify-content-center align-items-center">
              <span class="our-reference">{{item.applicationName}}</span>
              <span class="your-reference">{{item.customerRef}}</span>
              <span class="address">{{item.worksAddress}}</span>
              <button class="btn btn-outline-primary" (click)="openApplicationModal()">View</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 col-xl-4">
      <div class="homepage-table">
        <div class="table-head">
          <span class="table-title">Live Applications</span>
        </div>
        <div class="table-body">
          <div class="tbody-background">
            <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <div class="odd-column"></div>
              <div class="even-column"></div>
            </ng-container>
          </div>
          <div class="tbody-content">
            <div class="tbody-content" *ngFor="let item of processedApplications">
              <div class="d-flex justify-content-center align-items-center">
                <span>Applications {{item.number}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
