<div class="home-body">
  <div class="homepage-view row d-flex justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="homepage-table">
        <div class="table-head">
          <span class="table-title">Quotes</span>
          <button class="new-table-button btn btn-outline-primary" (click)="openQuoteModal()">New Quote</button>
        </div>
        <div class="table-body">
          <div class="tbody-background">
            <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <div class="odd-column"></div>
              <div class="even-column"></div>
            </ng-container>
          </div>
          <div class="tbody-content" *ngFor="let item of quotes">
            <div class="d-flex align-items-center">
              <span class="quote-availability">{{item.availability}}</span>
              <span class="quote-type">{{item.type}}</span>
              <span class="quote-status">{{item.status}}</span>
              <button class="btn btn-outline-primary" style="{{item.viewButtonStyle}}" routerLink="/quote">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="homepage-table">
        <div class="table-head">
          <span class="table-title">Submitted Applications</span>
          <button class="new-table-button btn btn-outline-primary" (click)="openApplicationModal()">New Applications</button>
        </div>
        <div class="table-body">
          <div class="tbody-background">
            <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <div class="odd-column"></div>
              <div class="even-column"></div>
            </ng-container>
          </div>
          <div class="tbody-content">
            <div class="tbody-content" *ngFor="let item of submittedApplications">
              <div class="d-flex justify-content-center align-items-center">
                <span>Application {{item.number}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="homepage-table">
        <div class="table-head">
          <span class="table-title">Processed Applications</span>
        </div>
        <div class="table-body">
          <div class="tbody-background">
            <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <div class="odd-column"></div>
              <div class="even-column"></div>
            </ng-container>
          </div>
          <div class="tbody-content">
            <div class="tbody-content" *ngFor="let item of processedApplications">
              <div class="d-flex justify-content-center align-items-center">
                <span>Applications {{item.number}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
