.homepage-view {
  height: 100%;
  margin: 0 20px;
}
.homepage-table thead {
  background: red;
  position: relative;
  text-align: center;
}

.homepage-table {
  border: 1px solid red;
  margin: 0 10px;
  width: 100%;
}

@media (max-width: 400px) {
  .homepage-view {
    margin: 0 !important;
  }
}
