
<div class="container">
  <form class="mt-5" [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email">
    </div>

    <div class="form-group">
      <label for="reset_password">Reset Password</label>
      <input id="reset_password" type="password" class="form-control" formControlName="reset_password">
    </div>

    <div class="form-group">
      <label for="conform_password">Confirm Password</label>
      <input id="conform_password" type="password" class="form-control" formControlName="confirm_password">
    </div>

    <div class="d-flex flex-column">
      <button class="btn btn-primary mb-3" (click)="resetPassword()">Reset Password</button>
    </div>
  </form>

</div>

