<div class="view-layout-container d-flex flex-column">
  <div class="application-brief-info d-flex flex-column">
    <span>Application &nbsp;&nbsp;- &nbsp;&nbsp;{{data.applicationName}} &nbsp;&nbsp;- &nbsp;&nbsp;{{data.worksAddress}}</span>
    <span>Single storey extensions to front and rear and replace flat roof to pitched roof to front elevation at dwelling</span>
  </div>

  <div class="applications-page-navbar">
    <nav>
      <ul>
        <li>
          <button class="btn btn-outline-primary d-flex flex-column align-items-center justify-content-center" routerLink="/applications">
            <div class="navbar-active-icon-background"></div>
            <i class="icon-action-undo"></i>
            <label>Back</label>
          </button>
        </li>
        <li *ngFor="let item of menu" routerLinkActive="active">
          <button class="btn btn-outline-primary d-flex flex-column align-items-center justify-content-center" [routerLink]="'/applications/view/' + this.id + item.route">
            <div class="navbar-active-icon-background"></div>
            <i [ngClass]="item.icon"></i>
            <label>{{ item.label }}</label>
          </button>
        </li>
        <li routerLinkActive="active">
          <button class="btn btn-outline-primary d-flex flex-column align-items-center justify-content-center" [routerLink]="'/applications/inspections/' + this.id">
            <div class="navbar-active-icon-background"></div>
            <i class="icon-cursor"></i>
            <label>Inspections</label>
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>

