.view-layout-container {
  .application-brief-info {
    text-align: center;
    position: sticky;
    top: 30px;
    z-index: 9999;
    background: #ffffff;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #ffffff;

    span {
      font-family: 'Roboto', sans-serif;
      color: #2982FE;

      &:first-child {
        font-size: 16px;
        font-weight: bold;
      }

      &:last-child {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  .applications-page-navbar {
    position: sticky;
    top: 89px;
    z-index: 9999;
    border-radius: 3px;
    border: 1px solid #f3f4f3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: fit-content;
    margin: 20px auto 10px;

    nav {
      padding: 8px 10px;
      border-radius: 8px;

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0;
          margin: 0 10px;
          position: relative;

          button {
            width: 85px;
            height: 75px;
            border: none;
            margin: 5px auto;
            color: #2982FE;
            font-weight: 500;

            i {
              margin-bottom: 10px;
              display: inline-block;
            }

            label {
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              margin-bottom: 0 !important;
            }

            &:hover, &:focus {
              background: white;
              color: #2982FE;
            }
          }

          &.active {
            button {
              background: white;
              color: #2982FE;
              box-shadow: 0 0 0 3px #2982FEa6;
            }
          }
        }
      }
    }
  }
}
