.case-sheet-container {
  .plot-table-container {
    background: white;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px 0 #2982FE;
    border-radius: 5px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .table-head {
      background: #2982FE;
      color: white;
      font-family: 'Sarabun', sans-serif;
      position: sticky;
      top: 0;
      z-index: 999;

      .table-row-title {
        flex: 1;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding-bottom: 5px;
      }
    }

    .table-body {
      font-family: 'Roboto', sans-serif;

      .tbody-background {
        position: absolute;
        width: 100%;

        div {
          width: 100%;
          height: 45px;
        }

        .even-column {
          background: #ecf1f9;
        }
      }

      .tbody-content {
        position: relative;

        .tbody-content-row {
          &.active {
            border: 2px solid black;
          }

          .tbody-content-cell {
            flex: 1;
            height: 45px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            &:first-child {
              font-weight: bold;
              font-size: 13px;
            }

            &:nth-child(2) {
              font-size: 12px;
            }

            span {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid gray;
            }
          }
        }
      }
    }
  }

  .plot-info-container {
    margin: 0 20px 20px;

    .info-view-title {
      margin-left: 20px;
      font-size: 18px;
      font-weight: bolder;
      color: #2982FE;
      font-family: 'Roboto', sans-serif;
    }

    .plot-info-table {
      position: relative;
      background: white;
      overflow: hidden;
      box-shadow: 0 0 1px 0 #2982FE;
      border-radius: 3px;

      .table-head {
        height: 50px;
        display: flex;
        background: #2982FE;
        align-items: center;
        padding-left: 30px;
        border-radius: 3px;

        span {
          font-weight: bold;
          padding-left: 10px;
          font-family: 'Sarabun', sans-serif;
          color: white;

          &:first-child {
            flex: 1;
          }

          &:nth-child(2) {
            flex: 3;
          }

          &:nth-child(3) {
            flex: 2;
          }

          &:nth-child(4) {
            flex: 3;
          }

          &:last-child {
            flex: 2;
          }
        }
      }

      .table-body {
        .tbody-background {
          position: absolute;
          width: 100%;

          div {
            width: 100%;
            height: 75px;
          }

          .even-column {
            background: #ecf1f9;
          }
        }

        .tbody-content {
          padding: 0 10px;

          .tbody-content-row {
            height: 75px;
            display: flex;
            align-items: center;
            position: relative;

            .red-circle {
              position: absolute;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid gray;
            }

            .position-absolute {
              align-items: center;
              right: 0;
              left: 40px;

              .tbody-row-cell {
                padding-left: 10px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;

                &:first-child {
                  flex: 1;
                }

                &:nth-child(2) {
                  flex: 3;
                }

                &:nth-child(3) {
                  flex: 2;
                }

                &:nth-child(4) {
                  flex: 3;
                }

                &:last-child {
                  flex: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}
