<div class="case-sheet-container">
  <div class="plot-table-container">
    <div class="table-head d-flex">
      <div class="table-row-title"></div>
      <div class="table-row-title"></div>
      <div class="table-row-title">Foundations</div>
      <div class="table-row-title">Oversite & DPC</div>
      <div class="table-row-title">FW</div>
      <div class="table-row-title">SW</div>
      <div class="table-row-title">Super Structure</div>
      <div class="table-row-title">Thermal Insulation</div>
      <div class="table-row-title">Sound Insulation</div>
      <div class="table-row-title">Building Services</div>
      <div class="table-row-title">Accessibility</div>
      <div class="table-row-title">Protection</div>
      <div class="table-row-title">Fire Safety</div>
      <div class="table-row-title">General</div>
      <div class="table-row-title">Completion</div>
      <div class="table-row-title">Final Defect</div>
      <div class="table-row-title">Final Cert</div>
    </div>
    <div class="table-body">
      <div class="tbody-background">
        <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
          <div class="odd-column"></div>
          <div class="even-column"></div>
        </ng-container>
      </div>
      <div class="tbody-content">
        <div class="tbody-content-row d-flex" *ngFor="let item of plotData" (click)="sendPlotInfo(item)" [class.active]="selectedPlotInfo?.plotNo === item.plotNo">
          <div class="tbody-content-cell">Plot{{item.plotNo}}</div>
          <div class="tbody-content-cell">{{item.domesticOrForeign}}</div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.foundations"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.overSite"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.fw"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.sw"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.superStructure"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.thermalInsulation"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.soundInsulation"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.buildingService"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.accessibility"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.protection"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.fireSafety"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.general"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.completion"></span>
          </div>
          <div class="tbody-content-cell">
            <span [style]="'background: ' + item.finalDefect"></span>
          </div>
          <div class="tbody-content-cell final-cart">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="plot-info-container" *ngIf="filteredKeys.length > 0">
    <div class="info-view-title">Information on Selected Plot: {{selectedPlotInfo.plotNo}}</div>
    <div class="plot-info-table">
      <div class="table-head d-flex">
        <span class="table-row-title">Plot</span>
        <span class="table-row-title">Inspection Type</span>
        <span class="table-row-title">Inspection Date</span>
        <span class="table-row-title">Details of Highlight</span>
        <span class="table-row-title">Resolution Remarks</span>
      </div>
      <div class="table-body">
        <div class="tbody-background">
          <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
            <div class="odd-column"></div>
            <div class="even-column"></div>
          </ng-container>
        </div>
        <div class="tbody-content">
          <div class="tbody-content-row" *ngFor="let item of filteredPlotInfo">
            <span class="red-circle" [style]="'background: ' + item.color + ';'"></span>
            <div class="position-absolute d-flex">
              <span class="tbody-row-cell">{{item.plotNo}}</span>
              <span class="tbody-row-cell">{{item.inspectionType}}</span>
              <span class="tbody-row-cell">{{item.inspectionDate}}</span>
              <span class="tbody-row-cell">{{item.highlight}}</span>
              <span class="tbody-row-cell">{{item.resolutionRemark}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
