/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Sarabun:400,500,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


* {
  //font-family: 'Sarabun', sans-serif;
  //font-family: 'Roboto', sans-serif;
}

.btn-has-spinner {
  position: relative;
  overflow: hidden;
}

ngb-popover-window {
  z-index: 99999 !important;
}
