
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$file-maker-portal-primary: mat-palette($mat-indigo);
$file-maker-portal-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$file-maker-portal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$file-maker-portal-theme: mat-light-theme($file-maker-portal-primary, $file-maker-portal-accent, $file-maker-portal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($file-maker-portal-theme);

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$custom-white: #FFFFFF;

// Theme colors
$theme-colors: (
  info: $custom-white,
);

@import "~bootstrap";
@import "~simple-line-icons/css/simple-line-icons.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Sarabun:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Sarabun:wght@400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.btn-has-spinner {
  position: relative;
  overflow: hidden;
}

ngb-popover-window {
  z-index: 99999 !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
    margin: 1.75rem auto;
  }
}


.inspection-popover {
  max-width: 500px !important;
  width: 500px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
