/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

/* Home component css files import */
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* {
  font-family: 'Poppins', sans-serif;
}

.btn-has-spinner {
  position: relative;
  overflow: hidden;
}
