<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand">Logo</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item" routerLinkActive="active" *ngFor="let item of menu">-->
<!--        <a class="nav-link" [routerLink]="item.route">{{ item.label }}</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<nav>
  <ul>
    <li *ngFor="let item of menu" routerLinkActive="active">
      <a class="d-flex flex-column align-items-center justify-content-center" [routerLink]="item.route">
        <i [ngClass]="item.icon"></i>
        <label>{{ item.label }}</label>
      </a>
    </li>
  </ul>
</nav>
