.nav-bar-container {
  box-shadow: 0 0 10px 2px #7fd0ec;
  min-height: 100%;
  width: 300px;
  background: #ffffff;


  .picture-container {
    margin-bottom: 30px;

    .logo-container {
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid #f3f4f3;

      img {
        height: 40px;
        transform: scale(0.7, 1);
      }

      div {
        color: #035ba9;

        span:last-child {
          font-size: 12px;
        }
      }
    }

    .photo-container {
      cursor: pointer;
      .photo-image {
        position: relative;
        overflow: hidden;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 10px auto;
        border: 2px dashed #4d7cfe;
        background: #f8fafb;
        padding: 5px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  nav {
    position: sticky;
    top: 50px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0 10px;
        position: relative;

        a {
          font-size: 13px;
          color: #212529;
          position: relative;

          i {
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
          }

          &:hover {
            text-decoration: none;
            color: darkcyan;
          }
        }

        &.active {
          a {
            color: darkcyan;
          }
        }
      }
    }
  }
}
