<div class="auth-layout d-flex position-relative">
  <div class="auth-background d-flex justify-content-center align-items-center">
    <div class="auth-background-overlay"></div>
    <div class="d-flex flex-column text-white w-75 mb-5">
      <h1 class="mb-5">File Maker Portal</h1>
      <p class="w-75">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="logo-image position-absolute">
    <img src="/assets/background-images/logo-2-2-2.png">
  </div>
  <div class="flex-grow-1 d-flex align-items-center auth-form-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
