.auth-background {
  position: relative;
  width: 70vw;
  height: 100vh;
  background-image: url('/assets/background-images/UNADJUSTEDNONRAW_thumb_2466.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .auth-background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
  }

  & > div:nth-child(2) {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 70px;
    }

    p {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .auth-background {
    display: none !important;
  }
}

.auth-form-wrapper {
  padding: 150px 60px 60px;
  text-align: left;
  margin-bottom: 50px;
}

.logo-image {
  height: calc(100vw / 9);
  right: 10%;
  top: 30px;

  img {
    height: 100%;
  }
}
